<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>overpass</title>
	<link href="/pure/pure-min.css" rel="stylesheet" type="text/css">
	<link href="/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="pure-g">
	<div class="pure-u-1-2">
		<div class="top-action">
			<a class="pure-button pure-button-primary" href="javascript:;" id="save">保存</a>
			<a class="pure-button pure-button-primary" href="javascript:;" id="changeMode">切换编辑器模式</a>
		</div>
		<div id="jsoneditor"></div>
	</div>
	<div class="pure-u-1-2">
		<div id="api-shape-list">

		</div>
	</div>
</div>

<script type="text/juicer" id="template">
	<div class="shape-item">
		<h3>${key}</h3>
		<h4>描述</h4>
		<p>${data.description}</p>
		<h4>地址</h4>
		<p>${data.url}</p>
		<h4>方法类型</h4>
		<p>${data.method}</p>
		<h4>参数</h4>
	</div>
</script>

<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script src="/jsoneditor/dist/jsoneditor.min.js"></script>
<script src="/juicer/juicer-min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

<script>

</script>

</body>
</html>